.treepics {
    float: left;
    width: 30%;
    padding: 5px;}
.treepicsr1:after {
    content: "";
    clear: both;
    display: table;}
.soda {
    float: left;
    width: 30%;
    padding: 5px;}
.sodarow:after {
    content: "";
    clear: both;
    display: table;}
img {
    width: 300px;
    max-width: 100%;
}
body {
    color: #343434;}
header {
    background: #424B54;
    color: #D7CDCC;}
.projects {
    background: #8D8C90;}
.work-experience {
    background: #B2ADAE;}
.education {
    background: #C5BDBD;}
footer {
    background: #CEC5C5;
    color: #343434;}
h1 {
    text-align: center;}
h2 {
    text-align: center;}
a:link{
    font-weight: bold;
    color: #343434;
}
a:visited {
    color:#343434;
    font-weight: normal;
}